#
# Gradle
#

.gradle/
**/build/
!**/src/**/build/

# Local configuration file
local.properties

#
# Kotlin
#

.kotlin

#
# IntelliJ
#

**/.idea/*
!**/.idea/codeStyles
!**/.idea/copyright
!**/.idea/dictionaries
**/.idea/dictionaries/*
!**/.idea/dictionaries/default_user.xml
*.iml

#
# CI
#

# Mkdocs
site/
docs/api/

#
# Common
#

# Mac files
.DS_Store
