# IDEA/Android Studio
.idea/*
!.idea/codeStyles
*.iml

# Android Studio - Layout Inspector
/captures

# Local configuration file (sdk path, etc)
local.properties

# Gradle files
.gradle/
build/

# NDK
.externalNativeBuild/
.cxx/

# Mac files
.DS_Store